:root {
  -webkit-font-smoothing: antialiased;
  --color-primary-default: #ac6cff;
  --color-neutral-white: #f8f9ff;
  --color-neutral-black: #2c2e33;
  --color-neutral-grey: #808080;
  --color-secondary-light: #eadaff;
  --color-secondary-dark: #873eac;
  --color-primary-light: #2f1c48;
  --color-primary-dark: #2b2038;
  --color-black: #2d2d2d;
}
